// app global css in SCSS form

.fadeIn-enter-active {
  transition: all 0.4s ease;
}
.fadeIn-enter-from {
  opacity: 0;
}
.fadeOut-leave-active {
  transition: all 0.4s ease;
}
.fadeOut-leave-to {
  opacity: 0;
}

.rightIn-enter-active {
  transition: all 0.3s ease-out;
}
.rightIn-enter-from {
  opacity: 0;
  transform: TranslateX(50%);
}
.rightOut-leave-active {
  transition: all 0.3s ease-in;
}
.rightOut-leave-to {
  opacity: 0;
  transform: TranslateX(50%);
}

.leftIn-enter-active {
  transition: all 0.3s ease-in;
}
.leftIn-enter-from {
  opacity: 0;
  transform: TranslateX(-50%);
}
.leftOut-leave-active {
  transition: all 0.3s ease-in;
}
.leftOut-leave-to {
  opacity: 0;
  transform: TranslateX(-50%);
}

.scaleIn-enter-active {
  transition: all 0.4s ease;
}
.scaleIn-enter-from {
  transform: scale(0.6);
}
.scaleOut-leave-active {
  position: absolute;
  transition: all 0.4s ease;
}
.scaleOut-leave-to {
  transform: scale(0.6);
}

.heightIn-enter-active {
  transition: all 2s ease-out;
  overflow: hidden;
}
.heightIn-enter-from {
  max-height: 0 !important;
}
.heightIn-leave-active {
  transition: all 2s ease-in;
}
.heightIn-leave-to {
  max-height: 0 !important;
  overflow: hidden;
}

.move-transition {
  transition: all 0.4s ease;
}

.fade {
  &-enter-active {
    @extend .fadeIn-enter-active;
  }
  &-enter-from {
    @extend .fadeIn-enter-from;
  }
  &-leave-active {
    @extend .fadeOut-leave-active;
  }
  &-leave-to {
    @extend .fadeOut-leave-to;
  }
}

.slide {
  &-enter-active {
    @extend .rightIn-enter-active;
  }
  &-enter-from {
    @extend .rightIn-enter-from;
  }
  &-leave-active {
    @extend .leftOut-leave-active;
  }
  &-leave-to {
    @extend .leftOut-leave-to;
  }
}

.fadeIn-rightOut {
  &-enter-active {
    @extend .fadeIn-enter-active;
  }
  &-enter-from {
    @extend .fadeIn-enter-from;
  }
  &-leave-active {
    @extend .rightOut-leave-active;
  }
  &-leave-to {
    @extend .rightOut-leave-to;
  }
}

.fadeIn-leftOut {
  &-enter-active {
    @extend .fadeIn-enter-active;
  }
  &-enter-from {
    @extend .fadeIn-enter-from;
  }
  &-leave-active {
    @extend .leftOut-leave-active;
  }
  &-leave-to {
    @extend .leftOut-leave-to;
  }
}

.scale {
  &-enter-active {
    @extend .scaleIn-enter-active;
  }
  &-enter-from {
    @extend .fadeIn-enter-from;
    @extend .scaleIn-enter-from;
  }
  &-leave-active {
    @extend .scaleOut-leave-active;
  }
  &-leave-to {
    @extend .fadeOut-leave-to;
    @extend .scaleOut-leave-to;
  }
}

.info {
  width: 60%;
  min-width: 500px;
}
p.info {
  font-size: 17px;
}
//NAVBAR
.toolBar_btn {
  font-size: 1.1vw;
}
@media only screen and (max-width: 1000px) {
  .toolBar_btn {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1200px) {
  .info,
  .chiSiamo {
    width: 90%;
  }
  .parallax-info {
    height: 4000px;
  }
}

@media only screen and (max-width: 800px) {
  .info,
  .chiSiamo {
    width: 100%;
    padding-top: 145px;
  }
  .cartaChiSiamo {
    width: 100px;
  }
  p.info {
    font-size: 10px;
  }
  h1.home {
    font-size: 45px;
  }
  h3.home {
    font-size: 30px;
  }
}

#tabellaStatistici tr:nth-child(even) {
  background-color: #00000008;
}
#tabellaStatistici th {
  background-color: #448aff;
}
#tabellaStatistici .q-table__bottom,
#tabellaStatistici thead tr:first-child th {
  background-color: #448aff;
}

.sfondoHome,
.sfondoChiSiamo {
  background-color: #cccccc;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sfondoHome {
  background-image: url('../img/IndexImage.jpg');
}
.sfondoChiSiamo {
  background-image: url('../img/bg8.jpg');
}
.sfondoHomeComponents {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
}
