<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style/login.css">
    <link rel="stylesheet" href="style/navbar.css">
    <meta charset="utf-8">
    <title>Login - Tamponati</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="convenzionati.html">Convenzionati</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <form id="login"  method="post">
        <ul>
          <li>
            <label for="email">Email</label>
            <input type="text" name="email">
          </li>
          <li>
            <label for="password">Password</label>
            <input type="password" name="password">
          </li>
          <li><input type="submit" name="loginbt" value="LogIn"></li>
        </ul>

      </form>

      <div class="registrazione">
        <p>Se non sei ancora registrato: <a href="seleziona_utente.html"><button type="button" name="button">Registrati</button></p></a>
      </div>


    </section>
    <footer>

    </footer>
  </body>
</html>
